#drum-machine {
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  #drum-machine {
    max-width: 400px;
    padding: 10px;
    margin: 10px;
  }
}

